.navbar-brand {
	padding-top: 0px;
}

.panel-default {
	margin-right: 12px;
	margin-left: 12px;
}

.alert {
	margin-right: 12px;
	margin-left: 12px;
	margin-bottom: 10px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.well {
	padding-top: 10px;
	padding-bottom: 2px;
	margin-right: 12px;
	margin-left: 12px;
}