<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{telaPadrao}">
  
	<div layout:fragment="conteudo">
	
	<div class="form-group">
	    <label for="select">Massa</label>
	    <input type="number" class="form-control" id="massa" aria-describedby="emailHelp" placeholder="50">
  	</div>

	<label for="select">Escolha um astro</label>
    <select class="form-control" id="astro">
      <option th:each="planeta : ${planetas}" th:value="${planeta.gravity}" th:text="${planeta.name}"></option>
    </select>

	<br/>

	<button type="button" class="btn btn-primary" th:onclick="javascript:calcular()">Calcular</button>

	<br/>

    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="peso" value="">
    </div>
	
	<script type="text/javascript" src="/js/dataTable.min.js"></script>
	<script type="text/javascript" src="/js/dataTables.bootstrap4.min.js"></script>
	
	<script th:inline="none">
		
		function calcular() {
			var massa = document.getElementById("massa").value;
			var gravidade = document.getElementById("astro").value;
			
			var peso = Math.round((massa * gravidade / 9.8 + Number.EPSILON) * 100) / 100;
			
			document.getElementById("peso").value = "Você teria a sensação de pesar " + peso + " kg."
		}
		
	</script>
	
	</div>

</html>