<!DOCTYPE html>
<html layout:decorate="telaPadrao">

	<div layout:fragment="conteudo">
	
		<div class="card">
			<div class="card-body">
			
				<table id="tabela" class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col" >Planeta</th>
							<th scope="col" >Massa (10<sup>24</sup>kg)</th>
							<th scope="col" >Diâmetro (km)</th>
							<th scope="col" >Gravidade (m/s<sup>2</sup>)</th>
							<th scope="col" >G<sub>Terra</sub> </th>
							<th scope="col" >Densidade (g/cm<sup>3</sup>)</th>
							<th scope="col" >n° Luas</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="planeta : ${planetas}">
							<td class="text-center" th:text="${planeta.nomeBR}" ></td>
							<td class="text-center" th:text="${#numbers.formatDecimal(planeta.mass, 1, 'POINT', 2, 'COMMA')}" ></td>
							<td class="text-center" th:text="${#numbers.formatDecimal(planeta.diameter, 1, 'POINT', 0, 'COMMA')}"></td>
							<td class="text-center" th:text="${#numbers.formatDecimal(planeta.gravity, 1, 'POINT', 1, 'COMMA')}"></td>
							<td class="text-center" th:text="${#numbers.formatDecimal(planeta.gravity / terra.gravity, 1, 'POINT', 1, 'COMMA')}"></td>
							<td class="text-center" th:text="${#numbers.formatDecimal(planeta.density / 1000, 1, 'POINT', 1, 'COMMA')}"></td>
							<td class="text-center" th:if="${planeta.numberMoons} > 0">
								
								<a class="btn btn-link btn-xs" th:text="${planeta.numberMoons}"  th:href="@{/astronomy/br/satelites/{id}(id=${planeta.id})}" 
										title="Ver luas" rel="tooltip" data-placement="auto">
								</a>
								
							</td>
							<td class="text-center" th:if="${planeta.numberMoons} == 0">
								0
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	
	</div>

</html>