<!DOCTYPE html>
<html layout:decorate="telaPadrao">

	<div layout:fragment="conteudo">
	
		<div class="card">
			<div class="card-body">
			
				<table id="tabela" class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Planeta</th>
							<th scope="col">Massa (10<sup>24</sup>kg)</th>
							<th scope="col">Diâmetro (km)</th>
							<th scope="col">Gravidade (m/s<sup>2</sup>)</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="planeta : ${planetas}">
							<td class="text-center" th:text="${planeta.nomeBR}" ></td>
							<td class="text-center" th:text="${planeta.mass}" ></td>
							<td class="text-center" th:text="${planeta.diameter}"></td>
							<td class="text-center" th:text="${planeta.gravity}"></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	
	</div>

</html>