<!DOCTYPE html>
<html layout:decorate="telaPadrao">

	<div layout:fragment="conteudo">
	
		<div class="card">
			<div class="card-body">
				
				<table id="tabela" class="table table-bordered table-striped">
				</table>
				
		</div>
		
	</div>
	
	<script type="text/javascript" src="/js/dataTable.min.js"></script>
	<script th:inline="javascript">
		$(document).ready(carregarTabela());
	
		function carregarTabela() {
			
		    $('#tabela').DataTable( {
		        "processing": true,
		        "ajax": {url:"http://localhost:8080/astronomy/br/satelites/listar", dataSrc:""},
		        "columns": [
		        	{ "data": "name" },
		        	{ "data": "radius" },
		        	{ "data": "density" },
		        	{ "data": "gm" }
		        ]
		    } );
		} 
	</script>
	
	</div>
	
</html>