<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

<!-- Bootstrap Core CSS -->
<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Bootstrap Menu lateral CSS -->
<link type="text/css" href="/css/menu-lateral.css" rel="stylesheet" />

<link type="text/css" href="/css/padrao.css" rel="stylesheet" />

<!-- Bootstrap Tags CSS -->
<link type="text/css" href="/css/bootstrap-tagsinput.css"
	rel="stylesheet" />

<!-- jQuery -->
<script src="/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-lg-2">
					<nav class="navbar navbar-default navbar-fixed-side">
						<div class="container">
						
							<!-- Início Menu Lateral -->
							
							<div class="navbar-header bgimg">
								<a class="navbar-brand" style="color:white;" href="./">Astronomy BR</a>
							</div>
							
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li class="active"><a href="./">Planetas</a></li>
									<li class="active"><a href="./">Satélites</a></li>
									<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Calculadoras <b class="caret"></b></a>
									<ul class="dropdown-menu">
											<li><a href="#">Idade</a></li>
											<li><a href="#">Peso</a></li>
											<li><a href="#">Escalas</a></li>
										</ul></li>
								</ul>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<input class="form-control" placeholder="Pesquisar">
									</div>
									<br><br>
									<button class="btn btn-default">Pesquisar</button>
								</form>
								<p class="navbar-text">
									Made by <a href="https://github.com/LeoRamos01/">Leonardo Ramos</a>
								</p>
							</div>
						</div>
						
						<!-- Fim Menu Lateral -->
						
					</nav>
				</div>
				
				<!-- Início conteúdo -->
				
				<div class="col-sm-9 col-lg-10">
					<div id="content">

						<div class="panel panel-default">
							<div class="panel-heading">Painel conteúdo</div>

							<div class="panel-body">
								Conteúdo
							</div>
						</div>

					</div>
				</div>
				
				<!-- Fim conteúdo -->
				
			</div>
		</div>
	</div>
</body>
</html>
